<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTIVATE!!!!</title>

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
    <ul class="posts">
        <% for(let i=0; i < info.length; i++) {%>
            <li class="posts">
                <span><%= info[i].one %></span>

            </li>
        <% } %>
        </ul>

    <form action="/createPost" method="POST">
        <input type="text" placeholder="words" name="postWords">
        <input type="file" placeholder="file" name="postFile">
        <input type="submit" value="Submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>